%p#notice= notice

%h1 Listing blogs

%table
  %thead
    %tr
      %th Title
      %th{ colspan: 3 }

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td= link_to 'Show', blog
        %td Edit
        %td Destroy

%br

= link_to 'New Blog', new_blog_path
