%p タブメニュー作成の練習

/
  タブメニュー
  activeクラスに、クリック済のデザインを設定したcssを指定
%ul.tab.clearfix
  %li.active 関東
  %li 関西
  %li 九州
/
  コンテンツ
  全体を非表示にし、showクラスが付いたコンテンツのみ表示
.area
  %ul.show
    %li 東京
    %li 新宿
    %li 横浜
  %ul
    %li 梅田
    %li 難波
    %li 三宮
  %ul
    %li 小倉
    %li 博多
    %li 久留米
